@charset "UTF-8";
*{ /*  height: 100%;*/
   
    font-family: Arial, Helvetica, sans-serif;
}

body{  
   background-image: linear-gradient(to top, #6F717D , #E1E4FD 40% );
}

main {
    background-color: rgb(242, 234, 234);
    border-radius: 20px;
    box-shadow: 18px 18px 50px #95A1FC;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
color: #4A507D;
text-shadow: 2px 2px 5px #95A1FC;
}

h2{
color: #7780C9;
}

p{
    text-align: justify;
}